
  <div class="CenterElement" *ngIf="!hideFirstPart" [formGroup]="signupForm">
    <button mat-button [routerLink]="['/']"><h2>Tree merkle</h2></button>
    <h3>Registration</h3>
    <mat-form-field appearance="standard">
      <mat-label>Login</mat-label>
      <input matInput placeholder="user12345" formControlName="login">
      <mat-error *ngIf="signupForm.controls.login.invalid">Minimal length is 6</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="signupForm.controls.password.invalid">Password should contain at least one number, lower, upper, and special symbol.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword">
      <mat-error *ngIf="signupForm.controls.confirmPassword.invalid">Not a valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="signupForm.controls.email.invalid">Not a valid email</mat-error>
    </mat-form-field>
  </div>
  <div class="CenterElement" *ngIf="hideFirstPart" [formGroup]="personalForm">
    <h3>Personal data</h3>
    <mat-form-field appearance="standard">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Region</mat-label>
      <input matInput formControlName="region">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Postal code</mat-label>
      <input matInput formControlName="postalCode">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name.common">
          {{country.name.common}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Age</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="CenterElement">
    <button mat-button (click)="back()" *ngIf="hideFirstPart">Back</button>
    <button mat-button (click)="action()">{{hideFirstPart ? 'Sign up' : 'Next'}}</button>
  </div>

