<div class="CenterElement" [formGroup]="loginForm">
  <a mat-button [routerLink]="['/']"><h2>Tree merkle</h2></a>
  <mat-form-field appearance="standard">
    <mat-label>Login</mat-label>
    <input matInput placeholder="user12345" formControlName="login">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>MD5 key</mat-label>
    <input matInput [type]="hideMD5 ? 'password' : 'text'" formControlName="key">
    <button mat-icon-button matSuffix (click)="hideMD5 = !hideMD5" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMD5">
      <mat-icon>{{hideMD5 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button type="submit" (click)="submit()">Submit</button>
</div>
